@font-face {
	font-family: 'Bevan';
	src: local('Bevan'), url('../font/bevan.woff') format('woff');
}

h1 {
	font-family: 'Bevan', serif;
	font-size: 6em;
	margin: 20px;
	margin-top: -10px;
	font-weight: normal;
}

h2 {
	font-family: 'Bevan', serif;
	font-size: 3em;
	margin: 30px 0;
	font-weight: normal;
	line-height: 1.2em;
}

p { 
	line-height: 1.6em;
}

p strong {
	font-family: 'Bevan', serif;
	font-weight: normal;
	color: #861A1A;
	font-size: 1.2em;
}

a {
	color: #2a8ce8;
}

a:hover {
	color: #861A1A;
}
